{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'My Blog' %}{% endblock %}
{% block content %}

  <style>
    .btn-custom {
      border: 2px solid #000;
      padding: 10px 20px;
      border-radius: 5px;
    }
  </style>
  <h1>{% trans 'My Blog' %}</h1>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="tags">{% trans 'Tags' %}: {{ post.tag.all|join:", "}}</p>
    <p class="date">
      {% trans 'Published' %} {{ post.publish }} {% trans 'by' %} {{ post.author }}
    </p>
    {{ post.body|truncatechars:20|linebreaks }}
  {% endfor %}  
  <div>
    <a href="{% url 'blog:post_create' %}" class="btn btn-primary btn-custom">{% trans 'Create a post' %}</a>
  </div>
    {% include "pagination.html" with page=posts %}
{% endblock %}
